::selection {
  background: rgb(66, 220, 219);
}

::-moz-selection {
  background: rgb(66, 220, 219);
}

body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: rgb(167, 186, 210);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  background: #171d25;
  margin: 0;
}

h1 {
  font-size: 26px;
  font-weight: 700;
  color: rgb(19, 71, 71);
  margin: 10px 0;
  display: inline-block;
  color: rgba(66, 220, 219, 1);
  line-height: 1.1em;
}

small {
  font-size: 17px;
  margin-left: 12px;
  position: relative;
  top: -1px;
}

p {
  font-size: 1em;
  margin: 0 auto;
}

textarea {
  background: #2c3a4d;
  color: #c3d7ef;
  font-size: 20px;
  padding: 15px;
  width: 97%;
  height: 92vh;
  border-radius: 2px;
  border: 1px solid #1e2022;
  box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.1) inset;
  resize: none;
  outline: none;
}
