:root {
  --green: #42dcdb;
}

body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: rgb(167, 186, 210);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  background: #12161d;
  margin: 0;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
  display: inline-block;
  color: var(--green);
  line-height: 1.1em;
  text-shadow: 0 0 20px #ffffff4a, 0 0 20px #00ffab45;
}

small {
  font-size: 17px;
  margin-left: 10px;
  position: relative;
  top: -1px;
}

p {
  font-size: 1em;
  margin: 0 auto;
}

b {
  color: var(--green);
}

ul,
ol {
  margin: 15px 0;
}

.textarea {
  color: #c3d7ef;
  font-size: 18px;
  line-height: 1.3em;
  padding: 15px 10px;
  border-radius: 2px;
  resize: none;
  outline: none;
  text-align: left;
  overflow: auto;
  height: 100vh;
  border: 1px solid #303947;
}

.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  height: 98vh;
  display: flex;
  flex-direction: column;
}

.header-content {
  width: 100%;
}

a,
svg {
  color: #c3d7ef;
}

svg {
  width: 17px;
}

.commands {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 5px 0;
  position: absolute;
  top: 16px;
  left: -5px;
}

.words {
  position: absolute;
  top: 25px;
  right: 0;
  font-size: 14px;
}

button {
  display: block;
  border: none;
  padding: 2px;
  font-size: 16px;
  background: none;
  color: #c3d7ef;
  cursor: pointer;
}

button:hover svg,
svg:hover {
  fill: rgb(66, 220, 219);
}

button:hover {
  color: rgb(66, 220, 219);
}

.popup {
  position: absolute;
  background: #12161d;
  color: #c3d7ef;
  padding: 9px 12px;
  border-radius: 2px;
  border: 1px solid #354253;
  font-size: 14px;
}

.popup a {
  color: var(--green);
}

.commands,
.words {
  position: initial;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

iframe {
  display: none;
}

@media all and (display-mode: standalone) {
  .logo {
    display: none;
  }

  .textarea {
    margin-top: 35px;
  }
}

.notes-menu {
  padding: 15px;
  position: fixed;
  top: 0;
}

.notes-menu ul {
  list-style: none;
  padding-left: 0;
  margin: 10px 0;
}

.notes-menu button {
  display: flex;
  justify-content: space-between;
  width: 56px;
  align-items: center;
  margin-left: 11px;
}

.notes-menu li {
  cursor: pointer;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  padding-left: 4px;
}

.notes-menu li:hover {
  color: var(--green);
}

.notes-menu li svg {
  width: 14px;
}

.notes-menu li.active {
  color: var(--green);
}

.notes-menu li .border-item {
  border-left: 2px solid transparent;
  margin-right: 6px;
  height: 14px;
  position: relative;
  top: 3px;
}

.notes-menu li.active .border-item {
  border-left: 2px solid var(--green);
}

.notes-menu a {
  position: relative;
  margin-left: 2px;
  top: 4px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .container {
    margin: 0 10px;
  }
}

@media (max-width: 1200px) {
  .notes-menu {
    position: initial;
    padding-bottom: 0;
  }

  .notes-menu ul {
    display: flex;
  }

  .notes-menu li {
    margin-right: 7px;
  }
}
